.pglist {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.button-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.button {
  position: absolute;
  width: 50px;
  height: 50px;
}

.button1 {
  top: 50px;
  left: 150px;
}
.button2 {
  top: 70px;
  left: 520px;
}
.button3 {
  top: 120px;
  left: 370px;
}
.button4 {
  top: 160px;
  left: 130px;
}
.button5 {
  top: 190px;
  left: 800px;
}
.button6 {
  top: 280px;
  left: 450px;
}
.button7 {
  top: 390px;
  left: 250px;
}

.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
