nav {
  background-color: #118847;
  color: #fff;
  padding: 10px 0; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%; 
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9em; 
  transition: color 0.3s ease;
}

nav a:hover {
  color: #f4f4f4;
}
